.main-container {
    padding-top: 100px;

}

.main-container h1 {
    text-align: center;
}

.main-body {
    padding-top: 100px;
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    height: 100vh;
    margin-top: -56px;
}

.main-body h1 {
    text-align: center;
}

.main-body .login-btn-div {
    text-align: center;
}